<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType text/css "access plus 1 week"
	ExpiresByType text/javascript "access plus 1 week"
	ExpiresByType application/javascript "access plus 1 week"
	ExpiresByType application/x-javascript "access plus 1 week"
	ExpiresByType image/x-icon "access plus 1 year"
	ExpiresByType application/x-font-woff "access plus 1 year"
	ExpiresByType application/font-woff2 "access plus 1 year"
</IfModule>

FileETag INode MTime Size
<IfModule mod_mime.c>
	AddType application/javascript          js
	AddType application/vnd.ms-fontobject   eot
	AddType application/x-font-ttf          ttf ttc
	AddType font/opentype                   otf
	AddType application/x-font-woff         woff
	AddType application/font-woff2          woff2
	AddType image/svg+xml                   svg svgz 
	AddEncoding gzip                        svgz
</Ifmodule>

<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
	AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript application/x-javascript
	AddOutputFilterByType DEFLATE image/x-icon image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype
	</IfModule>
</IfModule>

AddDefaultCharset utf-8

Redirect 301 /about /hello
Redirect 301 /recepten/recepten-eiwit-smoothies/ http://blog.michele.nl/recepten/recepten-eiwit-smoothies/
Redirect 301 /nails/stone-marble-nails/ http://blog.michele.nl/nails/stone-marble-nails/
Redirect 301 /web-development/micro-interacties/ http://blog.michele.nl/web-development/micro-interacties/
Redirect 301 /web-development/front-end-dev-cmd-hva/ http://blog.michele.nl/web-development/front-end-dev-cmd-hva/
Redirect 301 /web-development/nog-even-css-columns-mogelijkheden-en-beperkingen/ http://blog.michele.nl/web-development/nog-even-css-columns-mogelijkheden-en-beperkingen/
Redirect 301 /boeken/voor-de-wes-anderson-liefhebbers/ http://blog.michele.nl/boeken/voor-de-wes-anderson-liefhebbers/
Redirect 301 /onderweg/occhio-bezoekt-muiderslot/ http://blog.michele.nl/onderweg/occhio-bezoekt-muiderslot/
Redirect 301 /onderweg/hay-house-copenhagen/ http://blog.michele.nl/onderweg/hay-house-copenhagen/
Redirect 301 /kattenzaken/ameublement-voor-een-kat-van-stand/ http://blog.michele.nl/kattenzaken/ameublement-voor-een-kat-van-stand/
Redirect 301 /web-development/front-enders-conferentie-de-highlights-van-fronteers-2014/ http://blog.michele.nl/web-development/front-enders-conferentie-de-highlights-van-fronteers-2014/
Redirect 301 /onderweg/madeira/ http://blog.michele.nl/onderweg/madeira/
Redirect 301 /web-development/rebecca-purple-663399/ http://blog.michele.nl/web-development/rebecca-purple-663399/
Redirect 301 /web-development/heeft-ooit-ergens-geblogd/ http://blog.michele.nl/web-development/heeft-ooit-ergens-geblogd/
Redirect 301 /page3/ http://blog.michele.nl/page3/
Redirect 301 /page2/ http://blog.michele.nl/page2/
Redirect 301 /page4/ http://blog.michele.nl/page4/


Redirect 301 /portfolio/all-i-want-for-christmas/ /werk/all-i-want-for-christmas/
Redirect 301 /portfolio/poopy-cat/ /werk/poopy-cat/
Redirect 301 /portfolio/artipoppe/ /werk/artipoppe/
Redirect 301 /portfolio/qli-travel/ /werk/qli-travel/
Redirect 301 /portfolio/all-i-want-for-christmas/ /werk/all-i-want-for-christmas/
Redirect 301 /portfolio/rood-witte-schare/ /werk/rood-witte-schare/