// Introduction row with cols
.block-introduction {
    @extend %clearfix;
    display: flex;
    align-items: flex-start;
}

.block-introduction .col {
    @include responsive-padding;
}

.block-introduction .col:last-of-type {
    margin-bottom: 0;
}

.block-introduction h1 {
    color: $accent-color;
    margin-top: -.085em; margin-left: -.06em;
}

.block-introduction .col:last-child p:first-child {
    font-size: 1.25em; line-height: 1.5;
}
