/* The CV page
------------------------------*/

// generic cv section settings
.cv-section {
    .col {
        @include responsive-padding;
    }

    > header {
        background-color: $accent-color;
        color: $white;
    }

    // needs min-height to show image
    header.block-item-img {
        min-height: 18em;
        align-items: flex-end;

        @include breakpoint(sm) {
            min-height: 30em;
        }

        @include breakpoint(md) {
            min-height: 0;
            align-items: center;
        }
    }
}

// quotes
.quotes {
    @include responsive-padding;
    background: $brand-color;
    color: $white;
}

.quotes blockquote:last-of-type {
    margin-bottom: 0;
}

// skills list
.skills {
    text-align: center;

    h3,
    section {
        flex-basis: 100%;
    }

    section:not(:first-of-type):before {
        content: '';
        width: 2em;
        display: inline-block;
        border-top: .05em solid $brand-color;
    }

    h4 {
        margin-top: 1em;
    }

    p {
        margin-bottom: .5em;
    }
}

// questions block
.questions  {
    background: $accent-color;
    color: $white;
    @include responsive-padding;

    &.col {
        align-items: flex-start;
    }
}
