/* The main footer
------------------------------*/
.site-footer {
    clear: both;
    padding: $gutter-md $gutter-sm;
    font-family: $font-sans-serif-bold;
    font-size: .75em;

    @include breakpoint(md) {
        padding-left: $gutter-md;
        padding-right: $gutter-md;
    }

    @include breakpoint(lg) {
        padding-left: $gutter-lg;
        padding-right: $gutter-lg;
    }
}

.site-footer a {
    margin-left: 1.2em;
    color: $accent-color;

    @include breakpoint(sm) {
        margin-left: 2em;
    }

    @include breakpoint(lg) {
        margin-left: 3em;
    }

    @include hocus {
        color: lighten($accent-color, 25%);
    }
}

.back-to-top {
    display: none; // hide intially
    z-index: 999;
    position: fixed;
    bottom: .8em;
    right: $gutter-sm;
    width: 2.5em;
    height: 2.5em;
    color: lighten($text-color, 15%);
    line-height: 2.5em;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;

    @include breakpoint(md) {
        right: $gutter-md;
    }

    @include breakpoint(lg) {
        right: $gutter-lg;
    }
}

.back-to-top svg {
    transform: rotate(-90deg);
    vertical-align: middle;
    width: 1.5em;
    fill: currentColor;
}
