// blockquotes
blockquote {
	font-size: 1.3em;
	line-height: 1;
}

blockquote > :last-of-type {
	margin-bottom: .3em;
}

// quote the author
blockquote footer {
	font-size: .7em;
	font-style: normal;
	font-family: $font-sans-serif-black;
}

// decorative line
blockquote footer:before {
	content: '';
	display: inline-block;
	width: 1.2em;
	vertical-align: middle;
	margin: 0 .3em .15em 0;
	border-top: .15em solid;
}
