/* Buttons
---------------------------------*/
button,
[role=button] {
    $arrow-width: 1.5em;
    position: relative;
    display: inline-block;
    border: .09rem solid $text-color;
    border-radius: 1.5em;
    font-family: $font-sans-serif-bold;
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    color: $text-color;
    padding: .8em 1.5em;
    cursor: pointer;
    margin-bottom: 1.5em;
    transition: padding .3s;

    &::first-letter {
        text-transform: lowercase;
    }

    .js & {
        padding: .8em 4em .8em 1.5em;
    }

    @include breakpoint(sm){
        // quantity query: apply margin if > 1 button
        &:nth-last-child(n+2),
        &:nth-last-child(n+2) ~ [role=button] {
            margin-right: .7em;
        }
    }

    @include hocus {
        padding-left: 2.75em;
        padding-right: 2.75em;

        svg {
            opacity: 0;
            transform: translateX($arrow-width);
        }
    }

    // reset content link style
    &:before {
        content: none;
    }

    svg {
        width: $arrow-width;
        position: absolute;
        top: .5em;
        right: 0;
        fill: currentColor;
        transform: translateX(-$arrow-width);
        transition: transform .3s, opacity .3s;
    }

    // inverted colored button
    &.inverted {
        border-color: $white;
        color: $white;
    }
}