/* Table like list
---------------------------------*/
.data-list {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    text-align: center;

    @include breakpoint(sm) {
        text-align: left;
    }
}

.data-list dd,
.data-list dt {
    flex-basis: 100%;
}

.data-list dt {
    font-family: $font-sans-serif-bold;
    @include breakpoint(sm) {
        flex-basis: 35%;
    }
}

.data-list dd {
    margin-bottom: .6em;
    @include breakpoint(sm) {
        flex-basis: 65%;
    }
}
