/* Big images in content
------------------------------*/
.image-container,
.caption {
	position: relative;
	
	img  {
		opacity: 0;
		width: 100%;	
	}

	&.animate img {
		opacity: 1;
		transition: opacity 1.1s ease;
	}

	+ h2, 
	+ h3 {
		margin-top: 0.4em;
	}
}

p {
	position: relative; // needs to be rel for positioning img
}

// image container to break out margins
.image-container {
	margin: 0;
	position: relative;

	@include breakpoint(sm) {
		margin-left: -$gutter-sm;  
		margin-right: -$gutter-sm; 
	}

	@include breakpoint(md) {
		margin-left: -$gutter-xl;  
		margin-right: -$gutter-xl; 
	}
}

// colored image frame behind img 
.image-frame {
	background: $brand-color; 
	margin: 0.32em 0;

	.image-container:first-child & {
		margin-top: 0;
	}

	@media screen and (min-width: 30em) {	
		margin: 2em 0;			
	}
}

// image captions
.caption {
	position: relative;
	font-size: 0.9em;
	font-family: $font-sans-serif-bold;
	line-height: 1.2;
	display: block;
	margin: 1em 0 2em 0;
	padding: 0;
	z-index: 1;

	@include breakpoint(sm){
		margin: -1.35em 0 2em 0;
		padding: 0 $gutter-md;
	}

	@include breakpoint(md){
		padding: 0 $gutter-xl 0 ($gutter-xl + 2rem);

		// pretty line next to caption
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: -0.5em;
			left: $gutter-xl;
			border-left: 0.09rem solid;
			height: calc(100% + 0.33em);
		}
	}	
}