---
layout: default
---
	<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
	{% if page.image.feature %}
		<div class="image-container">
			<div class="image-frame">
				<img class="header-image" src="/assets/images/{{ page.image.feature }}" alt="{{ page.title }}">
			</div>
		</div>	
	{% endif %}
		<header>			
			<h1 class="post-title">{{ page.title }}</h1>
		</header>
		<div itemprop="articleBody">
			{{ content }}
		</div>
	</article>
	<nav class="page-navigation">
		{% if page.previous.url %}
		<a class="prev-link" href="{{page.previous.url}}">
			<span class="screenreader">Ga naar het vorige artikel, genaamd: </span>
			{{page.previous.title}}
		</a>
		{% endif %}
		{% if page.next.url %}
		<a class="next-link" href="{{page.next.url}}">
			<span class="screenreader">Ga naar het volgende artikel, genaamd: </span>
			{{page.next.title}}
		</a>
		{% endif %}
	</nav>