/* Variables
---------------------------------*/
// Color palette
$white: #ffffff;
$blackish: #1e1f23;
$coral: #ca6868;
$green: #354a52;

// Color usage
$bg-color: $white;
$brand-color: $coral;
$accent-color: $green;
$text-color: $blackish;

// Font families
$font-sans-serif: "Circular Book", Helvetica, Arial, sans-serif;
$font-sans-serif-bold: "Circular Bold", Helvetica, Arial, sans-serif;
$font-sans-serif-black: "Circular Black", Helvetica, Arial, sans-serif;
$heading-font-family: $font-sans-serif-bold;
$base-font-family: $font-sans-serif;

$base-font-size: 1.2em;
$base-font-weight: 400;
$base-line-height: 1.6;

// Magic numbers
$gutter-sm: 1.5rem;
$gutter-md: 2rem;
$gutter-lg: 4rem;
$gutter-xl: 6rem;

// Breakpoints
$breakpoint-sm: 30em;
$breakpoint-md: 50em;
$breakpoint-lg: 60em;
$breakpoint-xl: 67em;
